name: E2E GitOps Deployment

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  update-k8s-deployment:
    runs-on: ubuntu-latest

    env:
      DOCKER_IMAGE_NAME: supermariogitopsproject

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        persist-credentials: false

    - name: Set up Git
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions@github.com"

    - name: Read version
      id: read_version
      run: |
        VERSION=$(cat version.txt | tr -d '[:space:]')
        if [ -z "$VERSION" ]; then
          echo "âŒ version.txt is empty. Exiting."
          exit 1
        fi
        echo "VERSION=$VERSION" >> $GITHUB_ENV

    - name: Docker login
      run: |
        echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Pull Docker image
      run: |
        docker pull docker.io/${{ secrets.DOCKERHUB_USERNAME }}/$DOCKER_IMAGE_NAME:${{ env.VERSION }}
        docker save -o supermariolatestdockerimage.tar docker.io/${{ secrets.DOCKERHUB_USERNAME }}/$DOCKER_IMAGE_NAME:${{ env.VERSION }}

    - name: Update deployment.yaml with image tag
      run: |
        sed -i "s|image:.*$DOCKER_IMAGE_NAME:.*|image: docker.io/${{ secrets.DOCKERHUB_USERNAME }}/$DOCKER_IMAGE_NAME:${{ env.VERSION }}|" deployment.yaml

    - name: Commit and push updated deployment
      run: |
        git add deployment.yaml
        git commit -m "Updated deployment with image tag $VERSION" || echo "No changes to commit"
        git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git HEAD:main
